/* src/components/Navbar.css */

.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-item .fa {
  margin-right: 8px; /* Ajusta el espacio entre el icono y el texto */
}
