.offers {
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .offers h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  